In [37]:
import pandas as pd
import numpy as np

In [38]:
# 1. 데이터 로드

x_train = pd.read_csv('../Data/T2/T2-2/X_train.csv')
x_test = pd.read_csv('../Data/T2/T2-2/X_test.csv')
y_train = pd.read_csv('../Data/T2/T2-2/y_train.csv')

In [39]:
x_train.shape

(12452, 13)

In [40]:
print(x_train.info())
print('-'*80)
print(x_test.info())
print('-'*80)
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12452 non-null  int64
 1   city                    12452 non-null  object
 2   city_development_index  12452 non-null  float64
 3   gender                  9535 non-null   object
 4   relevent_experience     12452 non-null  object
 5   enrolled_university     12195 non-null  object
 6   education_level         12137 non-null  object
 7   major_discipline        10586 non-null  object
 8   experience              12415 non-null  object
 9   company_size            8600 non-null   object
 10  company_type            8471 non-null   object
 11  last_new_job            12179 non-null  object
 12  training_hours          12452 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.2+ MB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6706 entries, 0 to 6705
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             6706 non-null   int64
 1   city                    6706 non-null   object
 2   city_development_index  6706 non-null   float64
 3   gender                  5115 non-null   object
 4   relevent_experience     6706 non-null   object
 5   enrolled_university     6577 non-null   object
 6   education_level         6561 non-null   object
 7   major_discipline        5759 non-null   object
 8   experience              6678 non-null   object
 9   company_size            4620 non-null   object
 10  company_type            4547 non-null   object
 11  last_new_job            6556 non-null   object
 12  training_hours          6706 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 681.2+ KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  12452 non-null  int64
 1   target       12452 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 194.7 KB
None

In [41]:
# 데이터에 고유값들의 수 확인
print(x_train.nunique())
print('-'*80)
print(x_test.nunique())
print('-'*80)

enrollee_id               12452
city                        122
city_development_index       92
gender                        3
relevent_experience           2
enrolled_university           3
education_level               5
major_discipline              6
experience                   22
company_size                  8
company_type                  6
last_new_job                  6
training_hours              241
dtype: int64
--------------------------------------------------------------------------------
enrollee_id               6706
city                       118
city_development_index      92
gender                       3
relevent_experience          2
enrolled_university          3
education_level              5
major_discipline             6
experience                  22
company_size                 8
company_type                 6
last_new_job                 6
training_hours             238
dtype: int64
--------------------------------------------------------------------------------

In [42]:
# 결측치 확인
print(x_train.isnull().sum())
print('-'*80)
print(x_test.isnull().sum())

enrollee_id                  0
city                         0
city_development_index       0
gender                    2917
relevent_experience          0
enrolled_university        257
education_level            315
major_discipline          1866
experience                  37
company_size              3852
company_type              3981
last_new_job               273
training_hours               0
dtype: int64
--------------------------------------------------------------------------------
enrollee_id                  0
city                         0
city_development_index       0
gender                    1591
relevent_experience          0
enrolled_university        129
education_level            145
major_discipline           947
experience                  28
company_size              2086
company_type              2159
last_new_job               150
training_hours               0
dtype: int64

In [43]:
x_train.gender.unique() # NaN -> Other

array(['Male', nan, 'Female', 'Other'], dtype=object)

In [44]:
x_train.enrolled_university.unique() # NaN -> no_enrollment

array(['Full time course', 'no_enrollment', 'Part time course', nan],
      dtype=object)

In [45]:
x_train.major_discipline.unique() # NaN -> No Major

array([nan, 'STEM', 'Other', 'Humanities', 'No Major', 'Business Degree',
       'Arts'], dtype=object)

In [46]:
print(x_train.experience.unique()) # nan -> 0

['5' '10' '>20' '6' '14' '20' '7' '9' '8' '4' '3' '13' '16' '2' '12' '15'
 '11' '1' '<1' '17' '18' nan '19']

In [47]:
x_train.company_size.unique() # NaN -> <10

array(['100-500', nan, '50-99', '10/49', '10000+', '1000-4999', '<10',
       '500-999', '5000-9999'], dtype=object)

In [48]:
x_train.company_type.unique() # NaN -> Other

array(['Pvt Ltd', nan, 'Public Sector', 'NGO', 'Funded Startup',
       'Early Stage Startup', 'Other'], dtype=object)

In [49]:
x_train.last_new_job.unique() # NaN -> never

array(['1', '>4', 'never', '2', '4', '3', nan], dtype=object)

In [50]:
x_train.gender = x_train.gender.fillna('Other')
x_train.enrolled_university = x_train.enrolled_university.fillna('no_enrollment')
x_train.major_discipline = x_train.major_discipline.fillna('No Major')
x_train.experience = x_train.experience.fillna('0')
x_train.company_size = x_train.company_size.fillna('<10')
x_train.company_type = x_train.company_type.fillna('Other')
x_train.last_new_job = x_train.last_new_job.fillna('never')
x_train.education_level = x_train.education_level.fillna('Primary School')

In [51]:
y_train = y_train[['target']]

In [52]:
x_train.drop('enrollee_id', axis=1, inplace=True)

In [53]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    12452 non-null  object
 1   city_development_index  12452 non-null  float64
 2   gender                  12452 non-null  object
 3   relevent_experience     12452 non-null  object
 4   enrolled_university     12452 non-null  object
 5   education_level         12452 non-null  object
 6   major_discipline        12452 non-null  object
 7   experience              12452 non-null  object
 8   company_size            12452 non-null  object
 9   company_type            12452 non-null  object
 10  last_new_job            12452 non-null  object
 11  training_hours          12452 non-null  int64
dtypes: float64(1), int64(1), object(10)
memory usage: 1.1+ MB

In [54]:
x_train.gender = x_train.gender.astype('category').cat.codes
x_train.enrolled_university = x_train.enrolled_university.astype('category').cat.codes
x_train.major_discipline = x_train.major_discipline.astype('category').cat.codes
x_train.experience = x_train.experience.astype('category').cat.codes
x_train.company_size = x_train.company_size.astype('category').cat.codes
x_train.company_type = x_train.company_type.astype('category').cat.codes
x_train.last_new_job = x_train.last_new_job.astype('category').cat.codes
x_train.education_level = x_train.education_level.astype('category').cat.codes
x_train.relevent_experience = x_train.relevent_experience.astype('category').cat.codes
x_train.city = x_train.city.astype('category').cat.codes

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_train, y_train, stratify=y_train, random_state=42)

In [56]:
from xgboost import XGBClassifier
model = XGBClassifier(n_estimators = 400, learning_rate = 0.1, max_depth = 3, min_samples_leaf = 3, min_samples_split = 4)
model.fit(X_train, y_train)
pred_test = model.predict(X_test)
model.score(X_test, y_test)

[16:47:33] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "min_samples_leaf", "min_samples_split" } are not used.

0.7995502730485062

In [58]:
pred_proba = model.predict_proba(X_test)[:,1]
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, pred_proba)

0.8101686120632232

In [59]:
x_test.gender = x_test.gender.fillna('Other')
x_test.enrolled_university = x_test.enrolled_university.fillna('no_enrollment')
x_test.major_discipline = x_test.major_discipline.fillna('No Major')
x_test.experience = x_test.experience.fillna('0')
x_test.company_size = x_test.company_size.fillna('<10')
x_test.company_type = x_test.company_type.fillna('Other')
x_test.last_new_job = x_test.last_new_job.fillna('never')
x_test.education_level = x_test.education_level.fillna('Primary School')

x_test.gender = x_test.gender.astype('category').cat.codes
x_test.enrolled_university = x_test.enrolled_university.astype('category').cat.codes
x_test.major_discipline = x_test.major_discipline.astype('category').cat.codes
x_test.experience = x_test.experience.astype('category').cat.codes
x_test.company_size = x_test.company_size.astype('category').cat.codes
x_test.company_type = x_test.company_type.astype('category').cat.codes
x_test.last_new_job = x_test.last_new_job.astype('category').cat.codes
x_test.education_level = x_test.education_level.astype('category').cat.codes
x_test.relevent_experience = x_test.relevent_experience.astype('category').cat.codes
x_test.city = x_test.city.astype('category').cat.codes

In [60]:
x_test.drop('enrollee_id', axis=1, inplace=True)

In [61]:
pred_test_test = model.predict(X_test)

In [62]:
pred_real = pd.DataFrame(pred_test_test, columns=['pred'])

In [63]:
submission = pd.concat([X_test, pred_real], axis=1)
submission

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,pred
3346,63.0,0.624,1.0,1.0,0.0,1.0,3.0,17.0,7.0,3.0,5.0,37.0,NaN
12248,11.0,0.550,2.0,1.0,2.0,2.0,4.0,17.0,7.0,3.0,0.0,21.0,NaN
9168,26.0,0.827,1.0,0.0,0.0,0.0,5.0,14.0,1.0,5.0,1.0,38.0,NaN
4836,2.0,0.887,1.0,0.0,0.0,0.0,5.0,16.0,0.0,4.0,0.0,34.0,NaN
7932,82.0,0.762,2.0,1.0,0.0,0.0,5.0,16.0,7.0,3.0,2.0,49.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0